body{
    height: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
}

.page-question li{
    text-align: left;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
}